<div
  class="tab-pane fade show active"
  id="show-berita"
  role="tabpanel"
  aria-labelledby="nav-home-tab"
>
  <div class="card shadow mb-4">
    <div class="card-header py-3">
    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#add-modal1"
    >
      Grab API 1
    </button>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#add-modal2"
    >
      Grab API 2
    </button>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#add-modal3"
    >
      Grab API 3
    </button>
  </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Judul</th>
              <th>Isi</th>
              <th>Tanggal</th>
              <th>Image URL</th>
              <th>News URL</th>
              <th>Kategori</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < berita.length; i++){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= berita[i].judul %></td>
              <td><%= berita[i].isi %></td>
              <td><%= berita[i].date.toLocaleString('en-GB').split(',')[0] %></td>
              <td><%= berita[i].imageUrl %></td>
              <td><%= berita[i].link %></td>
              <td><%= berita[i].kategoriId.jenis %></td>
              <td>
                <form
                  action="/admin/berita/<%= berita[i].id %>?_method=DELETE"
                  method="POST"
                >
                  <a href="/admin/berita/<%= berita[i].id %>" class="btn btn-warning btn-sm"
                    ><i class="fas fa-edit"></i
                  ></a>
                  <button type="submit" href="" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
