<div
  class="tab-pane fade show active"
  id="update-berita"
  role="tabpanel"
  aria-labelledby="nav-home-tab"
>
  <div class="card shadow mb-4">
    <div class="card-body">
      <form action="/admin/berita/<%= berita.id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="judul-berita">Judul</label>
          <input
            type="text"
            class="form-control"
            id="judul-berita"
            name="judul"
            value="<%= berita.judul %>"
            placeholder="Masukkan Judul Berita"
            required
          />
        </div>
        <div class="form-group">
          <label for="isi-berita">Isi</label>
          <input
            type="text"
            class="form-control"
            id="isi-berita"
            name="isi"
            value="<%= berita.isi %>"
            placeholder="Masukkan Isi Berita"
            required
          />
        </div>
        <div class="form-group">
          <label for="tanggal-berita">Tanggal</label>
          <input
            type="date"
            class="form-control"
            id="tanggal-berita"
            name="tanggal"
            placeholder="Masukkan Tanggal Berita"
          />
        </div>
        <div class="form-group">
          <label for="gambar-berita">Gambar</label>
          <input
            type="text"
            class="form-control"
            id="gambar-berita"
            name="gambar"
            value="<%= berita.imageUrl %>"
            placeholder="Masukkan URL Gambar Berita"
          />
        </div>
        <div class="form-group">
          <label for="url-berita">URL</label>
          <input
            type="text"
            class="form-control"
            id="url-berita"
            name="url"
            value="<%= berita.link %>"
            placeholder="Masukkan URL Berita"
          />
        </div>
        <div class="form-group">
          <label for="kategoriId">Kategori</label>
          <select name="kategoriId" class="form-control">
            <option value="<%= berita.kategoriId.jenis %>">
              <%= berita.kategoriId.jenis %>
            </option>
            <% for (let i = 1; i < kategori.length; i++) { %>
            <option value="<%= kategori[i].id %>">
              <%= kategori[i].jenis %>
            </option>
            <% } %>
          </select>
        </div>

        <button type="submit" class="btn btn-primary">Tambah</button>
      </form>
    </div>
  </div>
</div>
